body {
  background: #EAE7DC;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

input, select, textarea {
  border: 1px solid #E85A4F;
  border-radius: 2px;
}

input {
  height: 20px;
}

.toggle {
  display: none;
}

.hidden {
  display: none;
}

.center {
  text-align: center;
}

.narrow {
  display: none;
}

input[type=checkbox]:checked + span {
  text-decoration: line-through;
}

@media only screen and (max-width: 940px) {
  .wide {
    display: none;
  }

  .narrow {
    display: initial;
  }

  .toggle {   
    display: flex;
    flex-direction: column;
  }
}